.articles {
  padding: 5rem 0;
  color: $PrimaryDark;

  .cards {
    .bp3-card {
      width: 40rem;
      margin: 1rem;
      background-color: $PrimaryLight;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }

        figure {
          margin-bottom: 1rem;

          img {
            width: 100%;
          }
        }
      }

      h5 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}
